/*--header area */

header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: inline-flex;
}

#logo {
  display: flex;
  color: MediumAquamarine;
}

/*--main body of the doc */

#main {
  display: flex;
}

#mainstory {
  display: flex;
  background-image: url("../images/main_story.png");
}

.column div {
  border: 1px solid black;
}

.large {
  border: 2px solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
