.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.navigation a {
  display: inline-flex;
}

#logo {
  display: flex;
  color: MediumAquamarine;
}

.container {
  display: flex;
}

.column.large {
  width: 630px;
  border: 2px solid black;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
